.type-speaker {
  margin-bottom: 20px;

  .archive-speaker-image {
    border-radius: 100px;
    height: 200px;
    margin: 8px 15px;
    overflow: hidden;
    padding: 0;
    width: 200px;
  }
}

.speaker-link,
.speaker-link a {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;

  &:hover {
    cursor: pointer;

    ~ .archive-speaker-image {
      border-radius: 100px;
      opacity: .5;
    }

    ~ .speakers h2,
    ~ .speakers h3,
    ~ .speakers h4 {
      text-decoration: underline;
    }
  }
}

.speakers {
  align-self: center;
}
