.type-speaker {
  margin-bottom: 20px;

  .archive-speaker-image {
    border-radius: 100px;
    height: 200px;
    margin: 8px 15px;
    overflow: hidden;
    padding: 0;
    width: 200px;
  }
}

.speaker-link,
.speaker-link a {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.speakers {
  align-self: center;
}

@media (max-width: 991px) {
  .type-speaker {
    .speaker-link,
    .archive-speaker-image,
    .entry-content {
      margin: 0 auto;
      text-align: center;
    }
  }

  .archive-speaker-image .speaker-view-more {
    left: -10px;
    width: 100%;
  }
}
