.speaker-image img,
.archive-speaker-image img {
  width: 100%;
}

.speakers h2 {
  margin-bottom: .5em;
}

.speakers h3 {
  margin-bottom: 0;
}

.speakers h4 {
  margin-bottom: .2em;
}

.type-speaker {
  margin-bottom: 3em;
}

.type-speaker .archive-speaker-image {
  border-radius: 100px;
  height: 200px;
  margin: 8px 15px;
  overflow: hidden;
  padding: 0;
  width: 200px;
}

.speaker-link,
.speaker-link a {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.speakers {
  align-self: center;
}

@media (max-width: 991px) {
  .type-speaker .speaker-link,
  .type-speaker .archive-speaker-image,
  .type-speaker .entry-content {
    margin: 0 auto;
    text-align: center;
  }
  .archive-speaker-image .speaker-view-more {
    left: -10px;
    width: 100%;
  }
}

.speaker-view-more {
  display: none;
  font-size: 1.7em;
  left: 15px;
  position: absolute;
  text-align: center;
  top: 90px;
  width: 200px;
}

.speaker-link:hover {
  cursor: pointer;
}

.speaker-link:hover ~ .archive-speaker-image {
  border-radius: 100px;
}

.speaker-link:hover ~ .archive-speaker-image img {
  opacity: .2;
}

.speaker-link:hover ~ .archive-speaker-image .speaker-view-more {
  display: block;
}

.speaker-link:hover ~ .speakers h2,
.speaker-link:hover ~ .speakers h3,
.speaker-link:hover ~ .speakers h4 {
  text-decoration: underline;
}
